ai-email-automation-lead-management/n8n-workflow/ai-email-automation-lead-management.json
{
  "name": "AI Email Auto-Responder + Lead Track",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "AI Email Auto-Responder + Lead Track",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('CLEAN_INPUT').item.json.clean_email }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -384,
        288
      ],
      "id": "28311d24-964d-41c2-b6f2-db4e1f0c62bb",
      "name": "Check LEADS Sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "twgL1lr5YQkPh3KY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5faa202a-e6be-4765-9904-87ab728c33ee",
              "leftValue": "={{ $json.is_blocked }}",
              "rightValue": "unsubscribe",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -400,
        32
      ],
      "id": "13e54d69-c528-4407-b363-234a7a959f20",
      "name": "FILTER NEWSLETTERS"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "AI Email Auto-Responder + Lead Track",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead_ID": "={{ $now }}",
            "Name": "={{ $('CLEAN_INPUT').item.json.clean_name }}",
            "Email": "={{ $('CLEAN_INPUT').item.json.clean_email }}",
            "Status": "NEW",
            "Last_Message": "={{ $('CLEAN_INPUT').item.json.message_text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Lead_ID",
              "displayName": "Lead_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last_Message",
              "displayName": "Last_Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_Response",
              "displayName": "AI_Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last_Replied",
              "displayName": "Last_Replied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error_Log",
              "displayName": "Error_Log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        464
      ],
      "id": "6a75f233-c9fe-4d32-9c25-eedf83247012",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "twgL1lr5YQkPh3KY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "AI Email Auto-Responder + Lead Track",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('CLEAN_INPUT').item.json.clean_email }}",
            "Last_Message": "={{ $('CLEAN_INPUT').item.json.message_text }}",
            "Status": "EXISTING",
            "Row Number": "={{ $node[\"Check LEADS Sheet\"].json.row_number }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Row Number",
              "displayName": "Row Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lead_ID",
              "displayName": "Lead_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last_Message",
              "displayName": "Last_Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_Response",
              "displayName": "AI_Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last_Replied",
              "displayName": "Last_Replied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error_Log",
              "displayName": "Error_Log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        128
      ],
      "id": "83ad0879-0228-4953-9a16-c90d57949a93",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "twgL1lr5YQkPh3KY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -656,
        256
      ],
      "id": "c480c7e1-eb57-45df-a394-02d8b44e2450",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Hkuqmb5jAD36yc2T",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "AI Email Auto-Responder + Lead Track",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 353798623,
          "mode": "list",
          "cachedResultName": "FAQ_KNOWLEDGE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=353798623"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        304
      ],
      "id": "80f8f4a2-92ca-4d5a-8d21-a826961f53a0",
      "name": "Get row(s) FAQ_KNOWLEDGE",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "twgL1lr5YQkPh3KY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "bearer YOUR_OPENROUTER_API_KEY_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-oss-120b\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a real human professional replying to business emails. Write like a normal person, not like a template or proposal. Do NOT use placeholders (no names, no brackets, no variables). Do NOT sound formal, salesy, or academic. Keep the tone natural, polite, and confident.\\n\\nRules:\\n- Do not mention AI, automation, or systems\\n- Do not guess or invent details\\n- Ask for clarification if needed\\n- Write complete sentences only\\n- Keep replies concise and human\\n- NEVER use placeholders like [Name], [Sender], or similar\\n\\nAlways end with this exact signature:\\n\\nBest regards,\\nSheikh Mainul Islam\\nAutomation Consultant\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $node['CLEAN_INPUT'].json.message_text }}\"\n    }\n  ],\n  \"max_tokens\": 350\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        848,
        400
      ],
      "id": "85cef38a-bfc1-4e4e-b3d1-08991938ed2e",
      "name": "HumanLike_Reply"
    },
    {
      "parameters": {
        "sendTo": "={{$json.replyTo || $node[\"CLEAN_INPUT\"].json.clean_email}}",
        "subject": "=Re: {{ $node[\"Gmail Trigger\"].json.Subject }}\n",
        "emailType": "text",
        "message": "={{ $node[\"HumanLike_Reply\"].json.choices[0].message.content }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1072,
        400
      ],
      "id": "2ed7a510-1fb4-4c00-9d61-fe7bc79b40f4",
      "name": "Send_Human_Reply",
      "webhookId": "b5e10950-5b7f-4cfe-a56f-e4bbbc3485d3",
      "credentials": {
        "gmailOAuth2": {
          "id": "Hkuqmb5jAD36yc2T",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "AI Email Auto-Responder + Lead Track",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "AI_Response": "={{ $node[\"HumanLike_Reply\"].json.choices[0].message.content }}\n",
            "Email": "={{ $node['CLEAN_INPUT'].json.clean_email }}",
            "Status": "ESCALATE",
            "Last_Replied": "={{ new Date().toISOString() }}\n"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Lead_ID",
              "displayName": "Lead_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last_Message",
              "displayName": "Last_Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_Response",
              "displayName": "AI_Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last_Replied",
              "displayName": "Last_Replied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error_Log",
              "displayName": "Error_Log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1280,
        400
      ],
      "id": "f4591a11-169b-4c60-bdff-2eb7a3c49efc",
      "name": "UPDATE_LEAD_HUMAN_REPLY",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "twgL1lr5YQkPh3KY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===============================\n// PROFESSIONAL FAQ MATCH ENGINE\n// ===============================\n\n// --- Text normalization ---\nfunction normalize(text) {\n  if (!text || typeof text !== \"string\") return \"\";\n  return text\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\n// --- Stopwords to ignore ---\nconst STOPWORDS = new Set([\n  \"how\",\"what\",\"when\",\"where\",\"why\",\"will\",\"can\",\"do\",\"does\",\"is\",\"are\",\n  \"i\",\"we\",\"you\",\"a\",\"an\",\"the\",\"to\",\"for\",\"of\",\"on\",\"in\",\"get\"\n]);\n\n// --- Get user message from CLEAN_INPUT ---\nconst userRaw = $node[\"CLEAN_INPUT\"].json.message_text || \"\";\nconst userText = normalize(userRaw);\n\nif (!userText) {\n  return {\n    matched: false,\n    score: 0,\n    faq: null,\n    reason: \"Empty user message\"\n  };\n}\n\n// --- Load FAQ rows ---\nconst faqs = items || [];\n\nlet bestMatch = null;\nlet bestScore = 0;\n\nfor (const item of faqs) {\n  if (!item.json || !item.json.Question) continue;\n\n  const faqText = normalize(item.json.Question);\n\n  // 1️⃣ EXACT / NEAR-EXACT MATCH\n  if (userText === faqText) {\n    return {\n      matched: true,\n      score: 100,\n      faq: item.json,\n      reason: \"Exact match\"\n    };\n  }\n\n  // 2️⃣ STRONG SUBSTRING MATCH (either direction)\n  if (userText.includes(faqText) || faqText.includes(userText)) {\n    return {\n      matched: true,\n      score: 90,\n      faq: item.json,\n      reason: \"Substring match\"\n    };\n  }\n\n  // 3️⃣ KEYWORD COVERAGE MATCH\n  const faqWords = faqText\n    .split(\" \")\n    .filter(w => w.length > 2 && !STOPWORDS.has(w));\n\n  if (faqWords.length === 0) continue;\n\n  let hits = 0;\n  for (const w of faqWords) {\n    if (userText.includes(w)) hits++;\n  }\n\n  const coverage = hits / faqWords.length;\n\n  if (coverage > bestScore) {\n    bestScore = coverage;\n    bestMatch = item.json;\n  }\n}\n\n// --- Final decision threshold ---\nif (bestScore >= 0.6) {\n  return {\n    matched: true,\n    score: Math.round(bestScore * 100),\n    faq: bestMatch,\n    reason: \"Keyword coverage\"\n  };\n}\n\n// --- No match ---\nreturn {\n  matched: false,\n  score: 0,\n  faq: null,\n  reason: \"No FAQ match\"\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        32
      ],
      "id": "0b62b873-e7a4-410c-be16-edd6ed8e8419",
      "name": "FAQ_MATCH_ENGINE"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "bearer YOUR_OPENROUTER_API_KEY_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-oss-120b\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional assistant for a consulting business. Reply using ONLY the provided FAQ answer. Keep it polite, concise, and professional. Never add extra information.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"FAQ answer: {{ $json.faq.Answer }}\"\n    }\n  ],\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        848,
        112
      ],
      "id": "ab43ab42-9560-433e-b3d7-030a39baeed0",
      "name": "FAQ_RESPONSE_FORMATTER"
    },
    {
      "parameters": {
        "sendTo": "={{$json.replyTo || $node[\"CLEAN_INPUT\"].json.clean_email}}\n",
        "subject": "=Re: {{ $node[\"Gmail Trigger\"].json.Subject }}\n",
        "message": "={{ $json.choices[0].message.content }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1056,
        112
      ],
      "id": "8a21de67-54a2-4a22-9ff3-886a0aaf44b7",
      "name": "GMAIL_SEND_FAQ_REPLY",
      "webhookId": "fafc39bc-cb85-4daa-aaf1-62a17f4f656b",
      "credentials": {
        "gmailOAuth2": {
          "id": "Hkuqmb5jAD36yc2T",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "AI Email Auto-Responder + Lead Track",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $node[\"CLEAN_INPUT\"].json.clean_email }}",
            "AI_Response": "={{ $('FAQ_RESPONSE_FORMATTER').item.json.choices[0].message.content }}",
            "Last_Replied": "={{ new Date().toISOString() }}",
            "Status": "ACTIVE",
            "Last_Message": "={{ $node['CLEAN_INPUT'].json.message_text }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Lead_ID",
              "displayName": "Lead_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last_Message",
              "displayName": "Last_Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_Response",
              "displayName": "AI_Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last_Replied",
              "displayName": "Last_Replied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error_Log",
              "displayName": "Error_Log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        112
      ],
      "id": "ed4ecb06-b636-4b1d-a07b-66426008d1a0",
      "name": "UPDATE_LEAD_FAQ_REPLY",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "twgL1lr5YQkPh3KY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $items(\"Check LEADS Sheet\");\n\nreturn inputItems.map(item => {\n  const email = item.json.Email;\n\n  const exists =\n    typeof email === \"string\" &&\n    email.includes(\"@\") &&\n    email.trim() !== \"\";\n\n  return {\n    json: {\n      ...item.json,   // ✅ KEEP original data (VERY IMPORTANT)\n      exists: exists\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        128
      ],
      "id": "4b369a3c-2eb1-4e8c-8194-f81b6e613ee5",
      "name": "LEAD_EXISTS_CHECK"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const fromRaw = item.json.From || \"\";\n\n  const emailMatch = fromRaw.match(/<(.+)>/);\n  const fromEmail = emailMatch\n    ? emailMatch[1].toLowerCase().trim()\n    : fromRaw.toLowerCase().trim();\n\n  let fromName = fromRaw.split(\"<\")[0].trim();\n  fromName = fromName.replace(/^\"|\\\"$/g, \"\");\n  if (!fromName) fromName = \"Unknown\";\n\n  let message = item.json.textPlain || item.json.snippet || \"\";\n  message = message.replace(/\\r?\\n|\\r/g, \" \").trim();\n\n  // 🚨 SMART BLOCK SYSTEM (THIS IS THE FIX)\n  const blockedPatterns = [\n    \"noreply\",\n    \"no-reply\",\n    \"do-not-reply\",\n    \"donotreply\",\n    \"notification\",\n    \"notifications\",\n    \"mailer-daemon\"\n  ];\n\n  const isBlocked = blockedPatterns.some(pattern =>\n    fromEmail.includes(pattern)\n  );\n\n  return {\n    json: {\n      clean_email: fromEmail,\n      clean_name: fromName,\n      message_text: message,\n      is_blocked: isBlocked   // 👈 IMPORTANT FLAG\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        32
      ],
      "id": "cf2e724d-6c5a-454e-9127-db4fd4414f30",
      "name": "CLEAN_INPUT"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a642172e-9da4-4726-8441-a8682fcc63a3",
              "leftValue": "={{ $node[\"LEAD_EXISTS_CHECK\"].json.exists.toString().trim().toBoolean() }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        32,
        304
      ],
      "id": "9ba03398-7e9d-4223-aaeb-5d336839e753",
      "name": "NEW VS EXISTING LEAD"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c221253b-a69b-4a7b-8162-a2805371a9a8",
              "leftValue": "={{ $json.matched }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        272
      ],
      "id": "fbdce1e9-1110-4ffe-98c8-a4b1033a3711",
      "name": "IF(matched?)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        752
      ],
      "id": "02109c70-943a-46d5-afa6-db1282762084",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "AI Email Auto-Responder + Lead Track",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1262899425,
          "mode": "list",
          "cachedResultName": "ERROR_LOG sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=1262899425"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Time": "={{ $now }}",
            "Workflow": "={{ $json.workflow.name }}",
            "Node": "={{ $json.execution.lastNodeExecuted }}",
            "Error_Message": "={{ $json.execution.error.message }}",
            "Stack": "={{ $json.execution.error.stack }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Node",
              "displayName": "Node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error_Message",
              "displayName": "Error_Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Stack",
              "displayName": "Stack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        752
      ],
      "id": "f4740626-90e5-4cf7-81b7-8ea12efa5608",
      "name": "Append Error Log Row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "twgL1lr5YQkPh3KY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "your.email@example.com",
        "subject": "=🚨 n8n Workflow Error Alert: {{ $json.Workflow }}",
        "message": "=Hello,\n\nAn error occurred in the workflow \"{{ $json.Workflow }}\".\n\nDetails:\n- Time: {{ $json.Time }}\n- Node: {{ $json.Node }}\n- Error Message: {{ $json.Error_Message }}\n\nStack Trace:\n{{ $json.Stack }}\n\nPlease check the workflow and resolve the issue.\n\nThanks,\nYour n8n Automation",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        752
      ],
      "id": "3120043b-d218-4980-91c3-a6c45bb075e7",
      "name": "Gmail Alert",
      "webhookId": "f0f9bdd8-52b8-4007-83fa-e717766ccc24",
      "credentials": {
        "gmailOAuth2": {
          "id": "Hkuqmb5jAD36yc2T",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Check LEADS Sheet": {
      "main": [
        [
          {
            "node": "LEAD_EXISTS_CHECK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FILTER NEWSLETTERS": {
      "main": [
        [],
        [
          {
            "node": "Check LEADS Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) FAQ_KNOWLEDGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) FAQ_KNOWLEDGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "CLEAN_INPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) FAQ_KNOWLEDGE": {
      "main": [
        [
          {
            "node": "FAQ_MATCH_ENGINE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HumanLike_Reply": {
      "main": [
        [
          {
            "node": "Send_Human_Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send_Human_Reply": {
      "main": [
        [
          {
            "node": "UPDATE_LEAD_HUMAN_REPLY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE_LEAD_HUMAN_REPLY": {
      "main": [
        []
      ]
    },
    "FAQ_MATCH_ENGINE": {
      "main": [
        [
          {
            "node": "IF(matched?)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FAQ_RESPONSE_FORMATTER": {
      "main": [
        [
          {
            "node": "GMAIL_SEND_FAQ_REPLY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GMAIL_SEND_FAQ_REPLY": {
      "main": [
        [
          {
            "node": "UPDATE_LEAD_FAQ_REPLY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LEAD_EXISTS_CHECK": {
      "main": [
        [
          {
            "node": "NEW VS EXISTING LEAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLEAN_INPUT": {
      "main": [
        [
          {
            "node": "FILTER NEWSLETTERS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NEW VS EXISTING LEAD": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF(matched?)": {
      "main": [
        [
          {
            "node": "FAQ_RESPONSE_FORMATTER",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HumanLike_Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Append Error Log Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Error Log Row": {
      "main": [
        [
          {
            "node": "Gmail Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "dc4e5015-e7fc-44b5-8626-b4f46beb781a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "afc19c6207ec98d94c75def806c0f25d5b333a995a0ef3ce3bea03b446c783e2"
  },
  "id": "96IorukR3-TruHFWoVrYx",
  "tags": []
}
